body {
    display: flex;
    width: 100vw;
    background-color: yellow;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    color: blue;
    text-shadow: 1px 1px 2px black;
}

.question {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.five {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.button {
    background-color: grey;
}
